# IntelliJ files
.idea/
*.iml

# Logs
*.log
/logs/

# Target and build directories
/target/
/build/

# Maven and Gradle dependencies
/.mvn/
/.gradle/
*.class

# OS-specific files
.DS_Store
Thumbs.db

# Java-related
*.class
*.jar
*.war
*.ear
.